* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375c;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Sora", sans-serif;
    font-size: 1.6rem;
    scroll-behavior: smooth;
    height: 100000px;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 60px;

    min-width: 205px;
    padding: 0 20px;
    height: var(--height);
    display: inline-block;
    border-radius: 30px;
    background: #2e80ce;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: var(--height); /* 166.667% */
    border: 1px solid #2e80ce;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.logo {
    display: inline-flex;
    gap: 0.6em;
    align-items: flex-start;
    font-size: 1rem;
    position: relative;
}

.logo__circle::before,
.logo__circle::after {
    content: " ";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}

.logo__circle::after {
    width: 1.6em;
    height: 1.6em;
    background: #fff;
    position: absolute;
    top: 1.1em;
    left: 1.1em;
}

.logo__text {
    display: flex;
    flex-direction: column;
}

.logo__brand {
    color: #fff;
    text-align: right;
    font-size: 1.8rem;
    font-weight: 400;
}

.logo__brand--small {
    line-height: 1.4em;
    font-size: 1.2rem;
    font-weight: 300;
}

.heading {
    font-weight: 600;
}

.heading.lv1 {
    color: #fff;
    font-size: 7rem;
    line-height: 1.44;
    letter-spacing: -1.4px;
}

.heading.lv2 {
    color: #10375c;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -1px;
}

.desc {
    font-weight: 300;
}

.desc.lv1 {
    color: #c9d2da;
    font-size: 1.8rem;
    line-height: 1.66;
}

.desc.lv2 {
    color: #575f66;
    font-size: 1.6rem;
    line-height: 1.75;
}

/* ========== Header ========== */
.header {
    min-height: 100vh;
    padding: 30px 0;
    background: var(--header-bg);
}
/* Header Top */
.header-top {
    position: sticky;
    top: 0;
    background: var(--header-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar__list {
    display: flex;
    gap: 42px;
}

.header-action__btn--sign-in,
.nav-bar__link {
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
    padding: 10px 0;
    line-height: 1.75; /* 175% */
    position: relative;
}

.nav-bar__link:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #fff;
}

.nav-bar__link--active {
    text-shadow: 1px 1px currentColor;
    color: #fff;
}

.nav-bar__link--active::before {
    content: " ";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -8px;
}

.header-action {
    display: flex;
    align-items: center;
    gap: 28px;
}

.header-action__btn--sign-in {
    display: inline-block;
    padding: 10px 0;
}

.header-action__btn--sign-up {
    --height: 44px;

    font-size: 1.6rem;
    min-width: 104px;
}

/* hero */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 76px;
}

.hero__content {
    width: 44%;
}

.hero__desc {
    margin-top: 22px;
}

.hero__row {
    margin-top: 28px;
    display: flex;
    align-items: center;
}

.hero__phone {
    margin-left: 38px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
}

.hero__media {
    width: 45%;
}

.hero__images {
    display: flex;
    align-items: center;
}

.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.hero__img--small {
    width: 210px;
    height: 410px;
    border-radius: 0px 6px 6px 0px;
}
